.gotten-url-panel{
    display:flex;
    margin: 0px auto;
    margin-top: 100px;
    justify-content: center;
    width:40%;
}

@media screen and (max-width: 400px){
    .gotten-url-panel{
        width: 100%
    }
}

/* CSS */
.gotten-url-input {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, rgb(216, 37, 177) 0, rgb(163, 27, 106) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.267) 0 2px 4px,rgba(0, 0, 0, 0.267) 0 7px 13px -3px,#4e0e46 0 -3.5px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  width: 380px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 17px;
}

.gotten-url-input:hover {
  transform: translateY(-2px);
}

.gotten-url-input:active {
  box-shadow: #5a064f 0 3px 7px inset;
  transform: translateY(2px);
}


.info-url-desc{
  text-align: center;
  margin-top:13px;
  font: 13px asap,arial;
  color: rgb(207, 207, 207);
}